# ==========================================
# ESP-IDF Build and Configuration Files
# ==========================================
build/
managed_components/
dependencies.lock

# ==========================================
# Project Settings Backup Files
# ==========================================
sdkconfig
sdkconfig.old

# ==========================================
# PlatformIO (If Use)
# ==========================================
.pio/

# ==========================================
# IDE and Editor Files (VS Code, CLion, etc.)
# ==========================================
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.swp
*.swo

# ==========================================
# Compiled Object Files and Binaries
# ==========================================
*.o
*.obj
*.out
*.elf
*.bin
*.map
*.a
*.lib

# ==========================================
# OS Specific Files
# ==========================================
.DS_Store
Thumbs.db